<?xml version="1.0"?>
<routes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <route id="holestpayadmin" frontName="holestpayadmin">
        <module name="HolestPay_HolestPay" before="Magento_Backend"/>
    </route>
</routes>


